In [1]:
import pandas as pd
import numpy as np
import pandas_profiling as pp
import datetime as dt

pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)

In [2]:
tableau = pd.read_csv('./merge.csv')
tableau

,Unnamed: 0,user_pseudo_id,target_max_day_played,mission_id,mission_difficulty,mission_stars_collected,day_auto_increment,lifetime_played_runs,max_run_distance,total_purchases_virtual,total_ads_watched,total_purchases_real,geo_country,days_played_in_month,virtual_currency_balance,event_timestamp,mission_played
0,78868,794,0,115,1.0,3.0,0.0,1.0,1183.0,0.0,0.0,0.0,India,0.0,5715.0,19-02-2022 18:47:18,1
1,78868,794,0,113,1.0,3.0,0.0,1.0,1183.0,0.0,0.0,0.0,India,0.0,5715.0,19-02-2022 18:47:52,2
2,78868,794,0,109,1.0,3.0,0.0,1.0,1183.0,0.0,0.0,0.0,India,0.0,5715.0,19-02-2022 18:47:57,3
3,78868,794,0,11,1.0,6.0,0.0,3.0,1695.0,0.0,2.0,0.0,India,0.0,6842.0,19-02-2022 18:51:30,4
4,78868,794,0,114,1.0,7.0,0.0,4.0,1695.0,0.0,3.0,0.0,India,0.0,7342.0,19-02-2022 18:53:40,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680035,129581,99999617,2,115,1.0,7.0,1.0,3.0,1888.0,1500.0,0.0,0.0,Mexico,1.0,5368.0,12-02-2022 15:02:46,6
2680036,129581,99999617,2,6,1.0,7.0,1.0,3.0,1888.0,1500.0,0.0,0.0,Mexico,1.0,5368.0,12-02-2022 15:03:07,7
2680037,129581,99999617,2,19,2.0,10.0,1.0,4.0,1888.0,4000.0,0.0,0.0,Mexico,1.0,3616.0,12-02-2022 15:04:28,8
2680038,129581,99999617,2,12,2.0,12.0,1.0,5.0,1888.0,4000.0,0.0,0.0,Mexico,1.0,3616.0,12-02-2022 15:05:36,9
2680039,129581,99999617,2,86,2.0,14.0,1.0,6.0,1888.0,4000.0,0.0,0.0,Mexico,1.0,4463.0,12-02-2022 15:09:46,10

In [3]:
tableau.drop(['Unnamed: 0'],axis=1, inplace=True)

In [4]:
tableau

,user_pseudo_id,target_max_day_played,mission_id,mission_difficulty,mission_stars_collected,day_auto_increment,lifetime_played_runs,max_run_distance,total_purchases_virtual,total_ads_watched,total_purchases_real,geo_country,days_played_in_month,virtual_currency_balance,event_timestamp,mission_played
0,794,0,115,1.0,3.0,0.0,1.0,1183.0,0.0,0.0,0.0,India,0.0,5715.0,19-02-2022 18:47:18,1
1,794,0,113,1.0,3.0,0.0,1.0,1183.0,0.0,0.0,0.0,India,0.0,5715.0,19-02-2022 18:47:52,2
2,794,0,109,1.0,3.0,0.0,1.0,1183.0,0.0,0.0,0.0,India,0.0,5715.0,19-02-2022 18:47:57,3
3,794,0,11,1.0,6.0,0.0,3.0,1695.0,0.0,2.0,0.0,India,0.0,6842.0,19-02-2022 18:51:30,4
4,794,0,114,1.0,7.0,0.0,4.0,1695.0,0.0,3.0,0.0,India,0.0,7342.0,19-02-2022 18:53:40,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680035,99999617,2,115,1.0,7.0,1.0,3.0,1888.0,1500.0,0.0,0.0,Mexico,1.0,5368.0,12-02-2022 15:02:46,6
2680036,99999617,2,6,1.0,7.0,1.0,3.0,1888.0,1500.0,0.0,0.0,Mexico,1.0,5368.0,12-02-2022 15:03:07,7
2680037,99999617,2,19,2.0,10.0,1.0,4.0,1888.0,4000.0,0.0,0.0,Mexico,1.0,3616.0,12-02-2022 15:04:28,8
2680038,99999617,2,12,2.0,12.0,1.0,5.0,1888.0,4000.0,0.0,0.0,Mexico,1.0,3616.0,12-02-2022 15:05:36,9
2680039,99999617,2,86,2.0,14.0,1.0,6.0,1888.0,4000.0,0.0,0.0,Mexico,1.0,4463.0,12-02-2022 15:09:46,10

In [5]:
tableau = tableau[tableau.days_played_in_month <10] # dropping values where there is effectivey less than 50 users in the dataset

In [6]:
tableau = tableau[tableau.lifetime_played_runs <50] # dropping values where there is effectivey less than 50 users in the dataset

In [7]:
tableau = tableau[tableau.mission_stars_collected <18] # dropping values where there is effectivey less than 50 users in the dataset

In [8]:
tableau = tableau[tableau.day_auto_increment <14] # dropping values where there is effectivey less than 50 users in the dataset

In [9]:
tableau = tableau[tableau.mission_id.isin([3,6,10,11,12,19,66,86,94,109,113,114,115])]

In [10]:
tableau

,user_pseudo_id,target_max_day_played,mission_id,mission_difficulty,mission_stars_collected,day_auto_increment,lifetime_played_runs,max_run_distance,total_purchases_virtual,total_ads_watched,total_purchases_real,geo_country,days_played_in_month,virtual_currency_balance,event_timestamp,mission_played
0,794,0,115,1.0,3.0,0.0,1.0,1183.0,0.0,0.0,0.0,India,0.0,5715.0,19-02-2022 18:47:18,1
1,794,0,113,1.0,3.0,0.0,1.0,1183.0,0.0,0.0,0.0,India,0.0,5715.0,19-02-2022 18:47:52,2
2,794,0,109,1.0,3.0,0.0,1.0,1183.0,0.0,0.0,0.0,India,0.0,5715.0,19-02-2022 18:47:57,3
3,794,0,11,1.0,6.0,0.0,3.0,1695.0,0.0,2.0,0.0,India,0.0,6842.0,19-02-2022 18:51:30,4
4,794,0,114,1.0,7.0,0.0,4.0,1695.0,0.0,3.0,0.0,India,0.0,7342.0,19-02-2022 18:53:40,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680035,99999617,2,115,1.0,7.0,1.0,3.0,1888.0,1500.0,0.0,0.0,Mexico,1.0,5368.0,12-02-2022 15:02:46,6
2680036,99999617,2,6,1.0,7.0,1.0,3.0,1888.0,1500.0,0.0,0.0,Mexico,1.0,5368.0,12-02-2022 15:03:07,7
2680037,99999617,2,19,2.0,10.0,1.0,4.0,1888.0,4000.0,0.0,0.0,Mexico,1.0,3616.0,12-02-2022 15:04:28,8
2680038,99999617,2,12,2.0,12.0,1.0,5.0,1888.0,4000.0,0.0,0.0,Mexico,1.0,3616.0,12-02-2022 15:05:36,9
2680039,99999617,2,86,2.0,14.0,1.0,6.0,1888.0,4000.0,0.0,0.0,Mexico,1.0,4463.0,12-02-2022 15:09:46,10

In [11]:
tableau = tableau[tableau.total_ads_watched <38]

In [12]:
tableau

,user_pseudo_id,target_max_day_played,mission_id,mission_difficulty,mission_stars_collected,day_auto_increment,lifetime_played_runs,max_run_distance,total_purchases_virtual,total_ads_watched,total_purchases_real,geo_country,days_played_in_month,virtual_currency_balance,event_timestamp,mission_played
0,794,0,115,1.0,3.0,0.0,1.0,1183.0,0.0,0.0,0.0,India,0.0,5715.0,19-02-2022 18:47:18,1
1,794,0,113,1.0,3.0,0.0,1.0,1183.0,0.0,0.0,0.0,India,0.0,5715.0,19-02-2022 18:47:52,2
2,794,0,109,1.0,3.0,0.0,1.0,1183.0,0.0,0.0,0.0,India,0.0,5715.0,19-02-2022 18:47:57,3
3,794,0,11,1.0,6.0,0.0,3.0,1695.0,0.0,2.0,0.0,India,0.0,6842.0,19-02-2022 18:51:30,4
4,794,0,114,1.0,7.0,0.0,4.0,1695.0,0.0,3.0,0.0,India,0.0,7342.0,19-02-2022 18:53:40,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680035,99999617,2,115,1.0,7.0,1.0,3.0,1888.0,1500.0,0.0,0.0,Mexico,1.0,5368.0,12-02-2022 15:02:46,6
2680036,99999617,2,6,1.0,7.0,1.0,3.0,1888.0,1500.0,0.0,0.0,Mexico,1.0,5368.0,12-02-2022 15:03:07,7
2680037,99999617,2,19,2.0,10.0,1.0,4.0,1888.0,4000.0,0.0,0.0,Mexico,1.0,3616.0,12-02-2022 15:04:28,8
2680038,99999617,2,12,2.0,12.0,1.0,5.0,1888.0,4000.0,0.0,0.0,Mexico,1.0,3616.0,12-02-2022 15:05:36,9
2680039,99999617,2,86,2.0,14.0,1.0,6.0,1888.0,4000.0,0.0,0.0,Mexico,1.0,4463.0,12-02-2022 15:09:46,10

In [13]:
tableau = tableau[tableau.target_max_day_played <24]

In [15]:
tableau

,user_pseudo_id,target_max_day_played,mission_id,mission_difficulty,mission_stars_collected,day_auto_increment,lifetime_played_runs,max_run_distance,total_purchases_virtual,total_ads_watched,total_purchases_real,geo_country,days_played_in_month,virtual_currency_balance,event_timestamp,mission_played
0,794,0,115,1.0,3.0,0.0,1.0,1183.0,0.0,0.0,0.0,India,0.0,5715.0,19-02-2022 18:47:18,1
1,794,0,113,1.0,3.0,0.0,1.0,1183.0,0.0,0.0,0.0,India,0.0,5715.0,19-02-2022 18:47:52,2
2,794,0,109,1.0,3.0,0.0,1.0,1183.0,0.0,0.0,0.0,India,0.0,5715.0,19-02-2022 18:47:57,3
3,794,0,11,1.0,6.0,0.0,3.0,1695.0,0.0,2.0,0.0,India,0.0,6842.0,19-02-2022 18:51:30,4
4,794,0,114,1.0,7.0,0.0,4.0,1695.0,0.0,3.0,0.0,India,0.0,7342.0,19-02-2022 18:53:40,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680035,99999617,2,115,1.0,7.0,1.0,3.0,1888.0,1500.0,0.0,0.0,Mexico,1.0,5368.0,12-02-2022 15:02:46,6
2680036,99999617,2,6,1.0,7.0,1.0,3.0,1888.0,1500.0,0.0,0.0,Mexico,1.0,5368.0,12-02-2022 15:03:07,7
2680037,99999617,2,19,2.0,10.0,1.0,4.0,1888.0,4000.0,0.0,0.0,Mexico,1.0,3616.0,12-02-2022 15:04:28,8
2680038,99999617,2,12,2.0,12.0,1.0,5.0,1888.0,4000.0,0.0,0.0,Mexico,1.0,3616.0,12-02-2022 15:05:36,9
2680039,99999617,2,86,2.0,14.0,1.0,6.0,1888.0,4000.0,0.0,0.0,Mexico,1.0,4463.0,12-02-2022 15:09:46,10

In [14]:
tableau.to_csv('tableau.csv')